// Font
$font-xs-fallback: 14px;
$font-xs: 1.4rem;

$font-sm-fallback: 16px;
$font-sm: 1.8rem;

$font-med-fallback: 24px;
$font-med: 2.4rem;

$font-l-fallback: 34px;
$font-l: 3.4rem;

$font-xl-fallback: 48px;
$font-xl: 4.8rem;

$font-xxl-fallback: 60px;
$font-xxl: 6rem;

$font-xxxl-fallback: 96px;
$font-xxxl: 9.6rem;

// Colors
$clr-dark-blue: #3700b3;
$clr-light-purple: #bb86fc;
$clr-grey-black: #292929;
$clr-turqouis-blue: #03dac5;
$clr-white: #fff;
$clr-sheet-black: #2f2f2f;

$clr-text: #e3e3e3;
